@import "@{bootstrap}/code.less";

code {
  white-space: normal;
}

pre {
  padding-left: @pre-padding;
  padding-right: @pre-padding;
  background-color:@dry-slate;
  color:@soft-green 
}

@duck-egg: #66d9ef;
@martian-green: #a6e22e;
@mustard: #e6db74;
@purple: #ae81ff;
@pinky: #f92672;
@soft-green: #6eca97;
@dry-slate: #3f3f3f;
@mud: #75715e;
@whitish: #f8f8f2;

.language-bash .token.parameter.variable { color:@pinky }

.language-html { color:@soft-green }
.language-html {
  color: @whitish;
  .tag,
  .tag .punctuation {
    color: #f92672;
  }
}
.language-js,.language-javascript { color:@soft-green }
.token.attr-name   { color:@martian-green }
.token.attr-value  { color:@mustard }
.token.boolean  { color:@duck-egg }
.token.tag .token.attr-value .token.punctuation  { color:@mustard }
.token.class-name  { color:@soft-green }
.token.comment  { color:@mud }
.token.function    { color:@soft-green }
.token.keyword     { color:@duck-egg }
.token.number      { color:@purple }
.token.operator    { color:@pinky }
.token.property + .token.operator { color:@whitish }
.token.parameter    { color:@soft-green }
.token.property    { color:@mustard }
.token.punctuation { color:@whitish }
.token.string      { color:@mustard }
.token.tag         { color:@pinky }
.token.tag .token.punctuation { color:@pinky }

.token.tag .token.attr-value .attr-equals, .token.attr-name, .token.attr-equals, .token.literal-property, .token.function-variable  { color:@martian-green }