footer .container {
  @media screen and (max-width: @screen-sm-min) {
    text-align: center;
    .col-sm-3 {
      margin-block-end: 1.5em;
    }
  }
}

.social_logo_band {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  a {
    min-width: 5em;
    min-height: 3em;
    .icon {
      margin: 1.5rem;
    }
  }
}

.apache_footer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: #808080;
  margin-block-start: 3em;
  font-size: 1.4rem;
}

.incubator_logo {
  max-width: 30em;
  margin: 0 auto;
}

.apache_logo_footer{
  max-width: 11em;
  display: block;
  margin: 0 auto;
} 