@import "@{bootstrap}/type.less";

@font-face {
  font-family: 'Lato';
  src: url('../fonts/LatoLatin-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Improves performance */
}

/* open-sans-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v44-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v44-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: .5em;
  .highlight + &,
  p + & {
    margin-top: @spacing-base * 2;
  }
}

h1, h2, h3, .h1, .h2, .h3 {
  display: block;
}

.band h1 {
  display: inline-block;
}

p, ul, ol, pre {
  margin-bottom: @spacing-base;
}
